# Python (back)
.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Node (front)
node_modules/
dist/
.vite/

# Editors / OS
.DS_Store
.idea/

# docker
docker/.env

#back
# src/back/.env

#front
src/front/.env