# FOR DEV ITS SETUP FIRST IN SETTING, ADD HERE FOR OVERWRITE
# FOR DEV ITS SETUP FIRST IN SETTING, ADD HERE FOR OVERWRITE
# FOR DEV ITS SETUP FIRST IN SETTING, ADD HERE FOR OVERWRITE
ENV="development"
FASTAPI_PORT=9000
FASTAPI_HOST=0.0.0.0

#########################
#### VESPER DATABASE ####
#########################

#MAIN
DATABASE_MAIN_URL=postgres_db # Container name
DATABASE_MAIN_NAME=vesper
DATABASE_MAIN_USER=app_user
DATABASE_MAIN_PASSWORD=password
DATABASE_MAIN_ECHO=false
