APP_USER=app_user
APP_USER_GROUP=dev
APP_USER_UID=1000
APP_USER_GID=1000

POSTGRES_DB=vesper
POSTGRES_USER=app_user
POSTGRES_PASSWORD=password

BACK_PORT=9000
FRONT_PORT=3000
FRONT_VNC_PORT=6080 # UI using by playwright
ADMINER_PORT=8080
SMTP4DEV_WEB_PORT=5000
SMTP4DEV_SMTP_PORT=25
SMTP4DEV_IMAP_PORT=143
